{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <h2>Iniciar Sesión</h2>
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Usuario" required>
      <input type="password" name="password" placeholder="Contraseña" required>
      <div class="btn-container">
        <button type="submit" class="btn-green">Ingresar</button>
      </div>
    </form>
    {% if error_msg %}
      <h5>{{ error_msg }}</h5>
    {% endif %}
  </div>
  </div>
</body>
</html>